@page "/priority"
@inject PriorityService priorityService
@inject NavigationManager _navigator


<button class="btn btn-sm btn-warning" @onclick="onCreate">Create A Priority</button>
<table class="table table-light " style="width:75%;align-items:center" >
    <thead>
        <tr>
            <th>Priority Name</th>
            <th>Priority Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var priority in priorities)
        {
            <tr>
                <td>@priority.priority_name</td>
                <td>@priority.priority_level</td>
                <td>
                    <button class="btn  btn-primary" @onclick="() => onEdit(priority)">Edit</button>
                </td>
                <td>
                    <button class="btn  btn-danger" @onclick="() => onDelete(priority)">Delete</button>
                </td>
            </tr>
        }
        
    </tbody>
</table>

@code {

    List<PriorityModel> priorities = new();

    protected override async Task OnInitializedAsync()
    {
        priorities = await priorityService.GetPriorities();
        await base.OnInitializedAsync();
    }

    private void onEdit(PriorityModel priority)
    {
        _navigator.NavigateTo("/priority/edit/"+ priority.id);
    }
    private async void onDelete(PriorityModel priority)
    {
        await priorityService.DeletePriority(priority.id);
        _navigator.NavigateTo("/priority",forceLoad:true);
    }
    private void onCreate()
    {
        _navigator.NavigateTo("/priority/create");
    }
}
