@page "/"
@inject TaskService taskService

<PageTitle>Index</PageTitle>



   <h1>Dashboard</h1>

    <p>Welcome to my Task Application</p>
    <br />
    <br />
    <div class="container" style="width:75%;justify-self:center">
        <PieChart></PieChart>
    </div>



@*@code{
    public List<TaskModel> tasks = new();
    private bool isLoading;

    public List<double> values = new();
    protected async override Task OnInitializedAsync()
    {
        isLoading = true;

        tasks = await taskService.Tasksasync();
        values.Add((double)tasks.Count());
        values.Add((double)tasks.Where(x => x.task_staus = true).Count());

        isLoading = false;
    }
}*@